[submodule "sel-dotnet"]
	path = sel-dotnet
	url = https://github.com/Logicify/sel-dotnet.git
	
[submodule "sel-js"]
	path = sel-js
	url = https://github.com/Logicify/sel-js.git

[submodule "sel-ruby"]
	path = sel-js
	url = https://github.com/alex-bes/sel-ruby.git
	
[submodule "sel-lua"]
	path = sel-lua
	url = https://github.com/alex-bes/sel-lua.git	
